### Importing libraries

In [1]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv('E:\datasets\employee_data.csv')

In [5]:
data.head()

   Emploee_ID  Gender Remarks
0          45    Male    Nice
1          78  Female    Good
2          56  Female   Great
3          12    Male   Great
4           7  Female    Nice

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Emploee_ID  12 non-null     int64
 1   Gender      12 non-null     object
 2   Remarks     12 non-null     object
dtypes: int64(1), object(2)
memory usage: 416.0+ bytes

### checing the labels in the column

In [6]:
#checking the categorical data in each column
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [7]:
data['Remarks'].unique()

array(['Nice', 'Good', 'Great'], dtype=object)

### checing the count of each label

In [12]:
#checking the count of each label
data['Gender'].value_counts()

Female    7
Male      5
Name: Gender, dtype: int64

In [13]:
data['Remarks'].value_counts()

Nice     5
Great    4
Good     3
Name: Remarks, dtype: int64

# APPROACH 1 - LABEL ENCODING DATA

### label encoder is used to convert more than 2 categorical data between 0 & numberofclasses-1

In [1]:
from sklearn.preprocessing import LabelEncoder
label_encoder_x = LabelEncoder()

In [30]:
label_encoded_data = label_encoder_x.fit_transform(data['Remarks'])

In [32]:
label_encoded_data = pd.DataFrame(data=label_encoded_data,columns=['Remarks'])

In [33]:
label_encoded_data

    Remarks
0         2
1         0
2         1
3         1
4         2
5         1
6         0
7         2
8         1
9         2
10        0
11        2

In [39]:
label_encoded_data['Remarks'].unique()

array([2, 0, 1])

In [44]:
label_encoded_data['Remarks'].value_counts()

2    5
1    4
0    3
Name: Remarks, dtype: int64

# APPROACH 2- ONE HOT ENCODING

### Binary labelling with1 at position where the label is present else 0

In [52]:
one_hot_encoded_data=pd.get_dummies(data,columns=['Remarks','Gender'])

In [53]:
one_hot_encoded_data

,Emploee_ID,Remarks_Good,Remarks_Great,Remarks_Nice,Gender_Female,Gender_Male
0,45,0,0,1,0,1
1,78,1,0,0,1,0
2,56,0,1,0,1,0
3,12,0,1,0,0,1
4,7,0,0,1,1,0
5,68,0,1,0,1,0
6,23,1,0,0,0,1
7,45,0,0,1,1,0
8,89,0,1,0,0,1
9,75,0,0,1,1,0
10,47,1,0,0,1,0
11,62,0,0,1,0,1

In [54]:
data

    Emploee_ID  Gender Remarks
0           45    Male    Nice
1           78  Female    Good
2           56  Female   Great
3           12    Male   Great
4            7  Female    Nice
5           68  Female   Great
6           23    Male    Good
7           45  Female    Nice
8           89    Male   Great
9           75  Female    Nice
10          47  Female    Good
11          62    Male    Nice